{% extends 'layout.html' %}
{% load static %}
{% block title %} Departamentos {% endblock %}
{% block content %}

<!-- <div class="container">
    <div class="row">
    {% for comuna in data %}
        {% for region in data2 %}
            {% if comuna.id_region == region.id_region %}
                <p>Comuna = '{{ comuna.nombre_comuna }}' y Capital de la Región de esa comuna = '{{ region.capital_region}}'</p>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </div>  
</div> -->

<div class="container">
    <div class="row">
    {% for comuna in data2 %}
        {% if comuna.id_region == data.id_region %}
            <p>Comuna = '{{ comuna.nombre_comuna }}' y Capital de la Región de esa comuna = '{{ data.capital_region}}'</p>
        {% endif %}
    {% endfor %}
    </div>  
</div>
</script>
{% endblock %}