{% extends 'layout.html' %}
{% load static %}
{% block title %} Departamentos {% endblock %}
{% block content %}

<div class="container">
    <div class="row">
    {% for departamento in data %}
        <div class="col-md-6">
            <p>{{ departamento.tipo_departamento }}</p>
        </div>
    {% endfor %}
    </div>  
</div>

<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
    $.ajax({
    type: "GET",
    dataType: "json",
    url: "http://localhost:8000/back/get/",
    success: function (data) {
        $.each(data, function(index){
            $('.departamentos').append(data[index].precio_departamento);
        })
        },
    });
}); -->
</script>
{% endblock %}